.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(69 68 68 / 56%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.7);
    opacity: 0;
}

.modal-content p {
    color: #000;
}

.modal.show .modal-content {
    transform: scale(1);
    opacity: 1;
}

.close {
    color: #000;
    float: right;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 300px; /* Define the height for the carousel images */
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel img {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    padding-top: 30px;
}

.carousel img.active {
    opacity: 1;
}
