body {
    background-color: #131010; /* Mode sombre par dÃ©faut */
    color: #f2f2f2;
    transition: background-color 1s ease, color 1s ease;
    margin: 0;
}

* {
    font-family: "Raleway", sans-serif;
}

a {
    color: #f2f2f2;
    text-decoration: none;
}

body.light-theme {
    background-color: #ffecb3;
    color: #333;
}

body.light-theme a {
    color: #000000;
}
body.light-theme .project_links a {
    color: #f2f2f2;
}

.header_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #131010; /* Mode sombre par dÃ©faut */
    border-bottom: 2px solid #efcc04;
    transition: background-color 1s ease;
}

body.light-theme .header_navbar {
    background-color: #fff;
}

.header_navbar .logo_animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #efcc04;
    position: relative;
    overflow: hidden;
    animation: rotateLogo 10s linear infinite;
}

.header_navbar .logo_text {
    font-size: 2rem;
    position: absolute;
    transition: opacity 2s ease;
}

.header_navbar .logo_text:not(.visible) {
    opacity: 0;
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header_navbar nav ul {
    display: flex;
}

.header_navbar nav li {
    margin: 0 15px;
    list-style: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.3s;
}

.header_navbar nav li:hover {
    color: #efcc04;
}

.theme-toggle {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 71px;
}

.theme-toggle i {
    font-size: 1.2rem;
}

.theme-toggle:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingbn5 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.theme-toggle:active {
    color: #000;
}

.theme-toggle:active:after {
    background: transparent;
}

.theme-toggle:hover:before {
    opacity: 1;
}

.theme-toggle:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.menu_toggle {
    display: none;
    background: none;
    border: none;
    color: #f2f2f2;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

body.light-theme .menu_toggle {
    color: #333;
}

.home_presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #131010; /* Mode sombre par dÃ©faut */
    text-align: center;
    transition: background 1s ease;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;

    gap: 140px; /* Add space between divs */
}

.welcome_animation {
    width: 350px;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 20px;
    animation: slideIn 2s ease-out;
    opacity: 0;
    animation-fill-mode: forwards; /* Ensures the final state persists */
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.photo_wrapper {
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

.photo_wrapper img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@keyframes glowingHalo {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

body.light-theme .home_presentation {
    background-color: #ffecb3;
}

.welcome_animation h1 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation: typing 3s steps(20, end), blink-caret 0.75s step-end infinite;
    border-right: 0.15em solid orange;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 22ch;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

.scroll_down {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111111;
    cursor: pointer;
    position: absolute;
    bottom: 20px; /* Position the button at the bottom */
    z-index: 0;
    border-radius: 10px;
    height: 60px;
}

.scroll_down i {
    font-size: 1.2rem;
}

.scroll_down:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbtn 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingbtn {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.scroll_down:active {
    color: #000;
}

.scroll_down:active:after {
    background: transparent;
}

.scroll_down:hover:before {
    opacity: 1;
}

.scroll_down:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.container_skill,
.projets {
    padding: 50px 20px;
    text-align: center;
    background-color: #131010; /* Mode sombre par dÃ©faut */
    transition: background-color 1s ease;
}

body.light-theme .container_skill,
body.light-theme .projets {
    background-color: #fff;
}

.title_section {
    text-decoration: underline;
}
.container_skill {
    border: 2px solid rgb(239, 204, 4);
}

.skill_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill_item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    position: relative;
    transition: transform 0.3s;
    border: 2px solid #efcc04;
}

.skill_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.skill_item:hover img {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.projets .container_projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_projets {
    max-width: 1100px;
    margin: 0 auto;
}

.container_img_projets {
    width: 300px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid #efcc04;
    transition: transform 0.3s, background-color 0.3s;
    position: relative;
    overflow: hidden;
}

.container_img_projets img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: opacity 0.3s;
}

.container_img_projets:hover img {
    opacity: 0.7;
}

.container_img_projets:hover .project_links {
    opacity: 1;
}

.project_details {
    padding: 10px;
    background: #fff;
    text-align: center;
    border-top: 2px solid #efcc04;
    color: #000000;
    height: 95px;
    border-radius: 0 0 12px 12px;
}

.project_links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.project_link {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 170px;
    font-size: 14px;
    text-align: center;
}

.container_img_projets:hover {
    transform: scale(1.05);
}

footer {
    background-color: #252323; /* Couleur du footer en mode sombre */
    padding: 20px;

    border-top: 2px solid #efcc04;
    transition: background-color 1s ease;
}

body.light-theme footer {
    background-color: #ffecb3;
}

footer h2 {
    margin-bottom: 10px;
}

footer .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer_details {
    margin: 10px 0;
}

footer .social_links {
    display: flex;
    gap: 10px;
}

footer .social_links a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #efcc04;
    transition: transform 0.3s;
}

footer .social_links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .social_links a:hover {
    transform: scale(1.2);
}

@media (max-width: 840px) {
    .home_presentation {
        gap: 0;
    }
}
@media (max-width: 768px) {
    .project_details {
        height: 180px;
    }
    .project_links {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        opacity: 1;
        flex-direction: column;
        gap: 5px;
        font-size: 25px;
    }
    .header_navbar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #161919;
        border: 2px solid #efcc04;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        z-index: 1;
        pointer-events: none; /* Prevents interaction when not visible */
    }

    .header_navbar nav ul.active {
        max-height: 500px; /* Set this to a value that covers the maximum height of your menu */
        opacity: 1;
        pointer-events: auto; /* Allows interaction when visible */
    }

    .menu_toggle {
        display: block;
    }

    .header_navbar nav ul li a {
        color: white;
    }

    .header_navbar nav a {
        color: #fff;
        text-decoration: none;
        padding: 5px;
    }

    .theme-toggle {
        display: block;
        margin: 10px auto;
    }

    .home_presentation {
        gap: 0;
        height: 86vh;
    }

    .portrait {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .photo_wrapper img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 375px) {
    .home_presentation {
        flex-direction: unset;
        align-items: unset;
        overflow: unset;
        height: 100vh;
    }
    .welcome_animation {
        width: 300px;
    }
    .welcome_animation h1 {
        font-size: 21px;
    }
    .container_skill,
    .projets {
        padding: 50px 0px;
    }
    .container_projets {
        width: 100%;
    }
    .container_img_projets {
        width: 369px;
        margin: 4px;
    }
    .container_img_projets:hover {
        transform: unset;
    }
}
.project_description {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 190px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

/* Modale */
.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(69 68 68 / 56%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.7);
    opacity: 0;
}

.modal-content p {
    color: #000;
}

.modal.show .modal-content {
    transform: scale(1);
    opacity: 1;
}

.close {
    color: #000;
    float: right;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 300px; /* Define the height for the carousel images */
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel img {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    padding-top: 30px;
}

.carousel img.active {
    opacity: 1;
}
